head
  meta(charset='utf-8')
  block meta
  link(rel="stylesheet", href="/css/tuktuk.css")
  link(rel="stylesheet", href="/css/tuktuk.theme.css")
  link(rel="stylesheet", href="/css/tuktuk.icons.css")
  link(rel="stylesheet", href="/css/global.css")
  block styles
