head
  meta(charset='utf-8')
  block meta
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
  link(rel="stylesheet", href="/css/tuktuk.css")
  link(rel="stylesheet", href="/css/tuktuk.theme.css")
  link(rel="stylesheet", href="/css/tuktuk.icons.css")
  link(rel="stylesheet", href="/css/global.css")
  block styles
