head
  meta(charset='utf-8')
  //- meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
  block meta
  link(rel="stylesheet", href="/css/normalize.css")
  link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css")
  link(rel="stylesheet", href="/css/common.css")
  block styles
