header
  .app-title
    a(href="/") Knowledge
  ul.app-menu
    +app-menu-item('Guides', '/', null, 'bookmark')
    +app-menu-item('Base', '/base', null, 'cloud')
    //- +app-menu-item('Graph', '/graph', null, 'th')
    +app-menu-item('Github', 'https://github.com/ecomfe/knowledge', '_blank', 'github-sign')
  //- .app-search
  //-   input(type="search", placeholder="搜索知识点")
