extends layout

block meta
  title 404: Page Not Found

block content
  - var active = null
  include inc/header
  body
    .wrapper
      .container
        .main
          .content
            h1 404: Page Not Found
            .desc
              :markdown
                如果你觉得这是一个`BUG`，去我们的 [Github](https://github.com/ecomfe/knowledge) 看看吧！

                - 拔刀相助：`fork`我们的项目，修改并提交`pull request`
                - 通风报信：提交`issue`并描述问题，交给我们来搞定

                [返回首页](/)

            include inc/app-info