extends layout

block meta
  title= app_name

block content
  - var active = 'Guides'
  include inc/header
  body
    .wrapper
      .container
        .main
          .content.article!= guide
            include inc/app-info
        aside
          .group
            .group-label Guides
            ul.group-list
              li
                a(href="/") 简介
              //- li
              //-   a(href="/guide/start") 快速开始
              li
                a(href="/guide/contribute") 贡献
              li
                a(href="/guide/roadmap") 路线图
