include inc/mixins
doctype html
html
  include inc/head.jade
  body
    .wrapper
      block content
    script(src="/js/jquery.js")
    script(src="/js/master.js")
    block scripts
    script(type="text/javascript").
      var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
      document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff0ebf5b179bdcfb0d2f2fcb0abb01b38' type='text/javascript'%3E%3C/script%3E"));
