.tags{line-height:1.6em;}
.tags span.icon{padding-right:.5em}
.tags small{padding-left:.3em;font-size:12px;opacity:.6;filter:alpha(opacity=60);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"}
