.point-content,
.tag-content
  h5
    margin-top 1em
    margin-bottom 0.6em
  ul
    span
      padding-left 0.5em
.points-container
  margin-bottom 2em
.links-container
  a
    margin-right 2em
    span.icon
      padding-right 0.5em
.point-content
  h4
    margin-bottom 0.6em