@import url("http://fonts.googleapis.com/css?family=Merriweather:700,300");
@import url("http://fonts.googleapis.com/css?family=Merriweather+Sans:700,400");
@import url("http://fonts.googleapis.com/css?family=Source+Code+Pro");
body{color:#453726;font-size:14px;font-family:"Merriweather Sans","Hiragino Sans GB","Microsoft Yahei",sans-serif;overflow:hidden}
header{zoom:1;color:#fff;background:#0fb3bf;height:60px;border-bottom:3px solid #0b96a0;min-width:920px;}
header:before,header:after{content:"";display:table}
header:after{clear:both}
header a{color:#fff;text-decoration:none;text-shadow:1px 1px 1px rgba(0,0,0,0.2)}
header .app-title{width:210px;border-right:1px solid #0b96a0;text-align:center;float:left;}
header .app-title a{display:block;font-weight:700;font-family:Merriweather,serif;font-size:24px;padding-top:2px;line-height:58px}
header .app-menu{float:left;list-style:none;padding:0;margin:0;}
header .app-menu li{float:left;border-right:1px solid #0b96a0;background:none;-webkit-transition:background 0.3s;-moz-transition:background 0.3s;-o-transition:background 0.3s;-ms-transition:background 0.3s;transition:background 0.3s;}
header .app-menu li a{font-family:Merriweather,serif;font-weight:300;display:block;font-size:16px;line-height:25px;padding:20px 20px 15px;}
header .app-menu li a span{margin-right:6px}
header .app-menu li.active{background:#0b96a0}
header .app-menu li:hover{-webkit-transition:background 0.3s;-moz-transition:background 0.3s;-o-transition:background 0.3s;-ms-transition:background 0.3s;transition:background 0.3s;background:#0b96a0}
header .app-search{float:right;margin:12px 20px;background:#0b96a0;padding:3px;}
header .app-search input{width:190px;background:#eeedeb;-webkit-transition:background 0.3s;-moz-transition:background 0.3s;-o-transition:background 0.3s;-ms-transition:background 0.3s;transition:background 0.3s;height:16px;line-height:16px;padding:7px 5px;border:none;}
header .app-search input:focus{-webkit-transition:background 0.3s;-moz-transition:background 0.3s;-o-transition:background 0.3s;-ms-transition:background 0.3s;transition:background 0.3s;background:#fff}
.container aside{float:left;width:210px;background:#eeedeb;border-right:1px solid #cfccc4;overflow-x:hidden;overflow-y:auto;}
.container aside::-webkit-scrollbar{width:3px}
.container aside::-webkit-scrollbar-track{background:#eeedeb}
.container aside::-webkit-scrollbar-thumb{background:#cfccc4}
.container aside a{color:#453726;text-decoration:none;}
.container aside a:hover{color:#b76751}
.container aside .group{margin:20px 15px;font-size:12px;}
.container aside .group .group-label{border-bottom:1px solid #dcd9d4;color:#929086;padding:3px 0;}
.container aside .group .group-label span{margin-right:6px}
.container aside .group .group-list{padding:8px 0;margin:0;margin-left:1em;list-style:none;}
.container aside .group .group-list li{padding:1px 0;}
.container aside .group .group-list li span.count{padding-left:5px;font-size:12px;color:#929086;font-family:"Source Code Pro","Monaco","Courier New",monospace}
.container aside .group .group-list li.active .tag-name{font-weight:700;color:#b76751}
.container .main{float:right;text-align:center;overflow:auto;}
.container .main h1,.container .main h2,.container .main h3,.container .main h4,.container .main h5,.container .main h6{margin:1em 0 .6em}
.container .main h1,.container .main h2,.container .main h3{font-weight:300;font-family:Merriweather,serif}
.container .main h1{font-size:30px}
.container .main h2{font-size:24px}
.container .main h3{font-size:18px}
.container .main h4{font-size:16px}
.container .main h5{font-size:14px;font-weight:700}
.container .main hr{border-width:0 0 1px 0;border-style:solid;border-color:#eeedeb}
.container .main a{color:#0b96a0;text-decoration:none;}
.container .main a:hover{color:#b76751}
.container .main strong{color:#b76751;font-weight:300}
.container .main em{color:#453726}
.container .main code{font-family:"Source Code Pro","Monaco","Courier New",monospace;color:#929086;padding:0 .4em}
.container .main pre{background:#eeedeb;padding:20px;line-height:1.6em;}
.container .main pre code{padding:0;color:#453726}
.container .main .content{text-align:left;padding:20px 30px;width:720px;}
.container .main .content .crumb{color:#929086}
.container .main .content .level .level-item{zoom:1;}
.container .main .content .level .level-item:before,.container .main .content .level .level-item:after{content:"";display:table}
.container .main .content .level .level-item:after{clear:both}
.container .main .content .level .level-item dt,.container .main .content .level .level-item dd,.container .main .content .level .level-item dd p{padding:0;margin:0}
.container .main .content .level .level-item dt{float:left;width:50px;color:#b76751}
.container .main .content .level .level-item dd{float:left;width:670px}
.container .main .content .tag-info,.container .main .content .point-info{padding:10px 0 20px}
.container .main .content .links{margin:10px 0;zoom:1;}
.container .main .content .links:before,.container .main .content .links:after{content:"";display:table}
.container .main .content .links:after{clear:both}
.container .main .content .links .button{margin-right:15px}
.container .main .content .relevance dt{font-size:16px;font-weight:300;}
.container .main .content .relevance dt span{color:#929086;margin-right:.5em}
.container .main .content .relevance dt.unknown{color:#929086;}
.container .main .content .relevance dt.unknown em{font-size:12px;margin-left:.6em;color:#cfccc4}
.container .main .content .relevance dd{margin:0 0 0 1.5em;}
.container .main .content .relevance dd p{margin:.6em 0}
.container .main .content .point-tags .point-tag{margin:5px 0;}
.container .main .content .point-tags .point-tag span{color:#929086;margin-right:.5em}
.container .main .content .point-tags .point-tag em{color:#929086}
.container .main .content .point-tags .point-tag .point-tag-title{margin-right:1em}
.container .main .article h1{padding-bottom:.5em;border-bottom:1px solid #eeedeb}
.container .main .app-info{zoom:1;margin-top:40px;border-top:1px solid #eeedeb;color:#929086;font-size:12px}
.container .main .app-info:before,.container .main .app-info:after{content:"";display:table}
.container .main .app-info:after{clear:both}
.container a.button{float:left;display:block;height:21px;line-height:21px;background:#0fb3bf;border-bottom:3px solid #0b96a0;color:#fff;-webkit-border-radius:5px;border-radius:5px;padding:2px 10px;cursor:pointer;}
.container a.button:hover{color:#fff;opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80)}
.container a.button:active{background:#0b96a0;opacity:1;-ms-filter:none;filter:none;border-bottom:none;line-height:24px;height:24px}
.container a.button span{margin-right:5px}
