@import "normalize.css";
@import url("http://fonts.googleapis.com/css?family=Merriweather:700,300");
body{color:#453726;font-size:14px;overflow:hidden}
header{zoom:1;color:#fff;background:#0fb3bf;height:60px;border-bottom:3px solid #0b96a0;min-width:920px;}
header:before,header:after{content:"";display:table}
header:after{clear:both}
header a{color:#fff;text-decoration:none;text-shadow:1px 1px 1px rgba(0,0,0,0.2)}
header .app-title{width:210px;border-right:1px solid #0b96a0;text-align:center;float:left;}
header .app-title a{display:block;font-weight:700;font-family:Merriweather;font-size:24px;padding-top:2px;line-height:58px}
header .app-menu{float:left;list-style:none;padding:0;margin:0;}
header .app-menu li{float:left;border-right:1px solid #0b96a0;background:none;-webkit-transition:background .3s;-moz-transition:background .3s;-o-transition:background .3s;-ms-transition:background .3s;transition:background .3s;}
header .app-menu li a{font-family:Merriweather;font-weight:300;display:block;font-size:16px;line-height:25px;padding:20px 20px 15px;}
header .app-menu li a span{margin-right:6px}
header .app-menu li.active{background:#0b96a0}
header .app-menu li:hover{-webkit-transition:background .3s;-moz-transition:background .3s;-o-transition:background .3s;-ms-transition:background .3s;transition:background .3s;background:#0b96a0}
header .app-search{float:right;margin:12px 20px;background:#0b96a0;padding:3px;}
header .app-search input{width:190px;background:#eeedeb;-webkit-transition:background .3s;-moz-transition:background .3s;-o-transition:background .3s;-ms-transition:background .3s;transition:background .3s;height:16px;line-height:16px;padding:7px 5px;border:none;}
header .app-search input:focus{-webkit-transition:background .3s;-moz-transition:background .3s;-o-transition:background .3s;-ms-transition:background .3s;transition:background .3s;background:#fff}
.container aside{float:left;width:210px;background:#eeedeb;border-right:1px solid #cfccc4;overflow-x:hidden;overflow-y:auto;}
.container aside::-webkit-scrollbar{width:3px}
.container aside::-webkit-scrollbar-track{background:#eeedeb}
.container aside::-webkit-scrollbar-thumb{background:#cfccc4}
.container .main{float:right;text-align:center;overflow:auto}
