.ext_info
  h5
    margin-bottom 0.5em
  ul
    margin-bottom 1em
    li
      small
        opacity 0.6
        font-size 12px
        margin-left 0.5em
      span.icon
        margin-left 0.5em
.entry_container
  h5
    margin-bottom 0.5em
  .entry_content
    line-height 1.6em