.ext_info h5{margin-bottom:.5em}
.ext_info ul{margin-bottom:1em;}
.ext_info ul li small{opacity:.6;filter:alpha(opacity=60);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";font-size:12px;margin-left:.5em}
.ext_info ul li span.icon{margin-left:.5em}
.entry_container h5{margin-bottom:.5em}
.entry_container .entry_content{line-height:1.6em}
