.point_content{line-height:1.6em;margin-top:1em;margin-bottom:1em;}
.point_content h5{margin-top:1em;margin-bottom:.5em}
.point_content ul span.icon{margin-left:.5em}
.point_content .links-container a{margin-right:2em;}
.point_content .links-container a span.icon{padding-right:.5em}
.tag-content{line-height:1.6em;}
.tag-content h5{margin-top:.5em;margin-bottom:.5em}
.tag-content ul{margin-bottom:1em;}
.tag-content ul span.icon{margin-left:.5em}
