.point_content
  line-height 1.6em
  margin-top 1em
  margin-bottom 1em
  h5
    margin-top 1em
    margin-bottom 0.5em
  ul
    span.icon
      margin-left 0.5em
  .links-container
    a
      margin-right 2em
      span.icon
        padding-right 0.5em
.tag-content
  line-height 1.6em
  h5
    margin-top 0.5em
    margin-bottom 0.5em
  ul
    margin-bottom 1em
    span.icon
      margin-left 0.5em
